@tailwind base;
@tailwind components;
@tailwind utilities;


html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Josefin Sans', sans-serif;
}


.font-Alata{
  font-family: 'Alata', sans-serif !important;
}
